/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

      /* Add this new CSS class */
      .aspect-ratio {
        position: relative;
        overflow: hidden;
      }
  
      .aspect-ratio img {
        width: 100%;
        height: auto;
      }
  
      .w3-bar .w3-button {
        padding: 16px;
      }
  
      nav {
        background-color: #ffffff9c;
        backdrop-filter:  blur(4px);
      }
  
      div.offcanvas-header, div.offcanvas, div.offcanvas-body {
        background-color: #ffffff9c;
        backdrop-filter:  blur(4px);

      }


      div .w3-sidebar {
        right: 0;
        height: 100vh;
        overflow: hidden;
        background-color: #ffffff9c;
        backdrop-filter:  blur(4px);
        border: none;
        width: 54.2%;
        margin: 4px 4px;
        
      }
  
      .animate {
              transition: transform 0.2s;
          }
  
          .animate:hover {
              transform: scale(1.2);
          }

          
  