/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

      /* Add this new CSS class */
      .aspect-ratio {
        position: relative;
        overflow: hidden;
      }
  
      .aspect-ratio img {
        width: 100%;
        height: auto;
      }
  
      .w3-bar .w3-button {
        padding: 16px;
      }
  
      nav {
        background-color: #daf4f9bc;
        backdrop-filter:  blur(4px);
      }
  
      div.offcanvas-header, div.offcanvas, div.offcanvas-body {
        background-color: #ffffff9c;
        backdrop-filter:  blur(4px);

      }

      

      div .w3-sidebar {
        right: 0;
        height: 100vh;
        overflow: hidden;
        background-color: #daf4f9bc;
        backdrop-filter:  blur(4px);
        /* border: none; */
        width: 54.2%;
        margin: 4px 4px 4px 4px;
        
      }
      .active {
        list-style: none;
        position: relative;
        display: inline-flex;
        background: var(--pink);
        padding: 10px;
        border-radius: 15px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
      
      .active::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        transform: translateX(var(--transformJS));
        width: var(--widthJS);
        height: calc(100% - 20px);
        border-radius: var(--active-link-border-radius);
        background: var(--light-pink);
        box-shadow: var(--active-link-box-shadow);
        transition: all 0.3s linear;
      }
      
      .active li a {
        display: inline-block;
        position: relative;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        z-index: 1;
      }
      
      .active a:not(:last-child) {
        margin-right: 20px;
      }

  
      .animate {
              transition: transform 0.2s;
          }
  
          .animate:hover {
              transform: scale(1.2);
          }
      
   